
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  background-color: #cddbe2;
}

.profile_img {
  width: 150px;
  height: 150px;
  object-fit:cover;
  margin: 10px auto;
  margin-left: 800px;
  border-radius: 50%;

}

.body-profile {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #cddbe2;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
